<!DOCTYPE html>
<html>
<head>
    <title>Malumotlarni Summalash</title>
</head>
<body>
    <h1>Umumiy Summa</h1>
    <table border="1">
        <tr>
            <th>Maydon</th>
            <th>Summa</th>
        </tr>
        <tr>
            <td>FOT</td>
            <td>{{ vsego_summa.FOT }}</td>
        </tr>
        <tr>
            <td>SOC_NALOG</td>
            <td>{{ vsego_summa.SOC_NALOG }}</td>
        </tr>
        <tr>
            <td>MATERALI</td>
            <td>{{ vsego_summa.MATERALI }}</td>
        </tr>
        <tr>
            <td>TOPLIVO</td>
            <td>{{ vsego_summa.TOPLIVO }}</td>
        </tr>
        <tr>
            <td>EL_ENERGY</td>
            <td>{{ vsego_summa.EL_ENERGY }}</td>
        </tr>
        <tr>
            <td>AMARTIZATSIYA</td>
            <td>{{ vsego_summa.AMARTIZATSIYA }}</td>
        </tr>
        <tr>
            <td>REM_FOND</td>
            <td>{{ vsego_summa.REM_FOND }}</td>
        </tr>
        <tr>
            <td>PROCHI_ROSXODI</td>
            <td>{{ vsego_summa.PROCHI_ROSXODI }}</td>
        </tr>
        <tr>
            <td>VSEGO</td>
            <td>{{ vsego_summa.VSEGO }}</td>
        </tr>
    </table>
</body>
</html>
