{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fakl</th>
                    <th>eOT</th>
                    <th>Coh</th>
                    <th>MBCP</th>
                    <th>MBCN</th>
                    <th>KUTY</th>
                    <th>Tonnies</th>
                    <th>Auc</th>
                    <th>Rus</th>
                    <th>Pfuhl</th>
                    <th>Pfuhl2</th>
                    <th>Burovo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Qo'shimcha qatorlarni shu yerda joylashtiring -->
                <tr>
                    <td>...</td> <!-- Fakl uchun ma'lumot -->
                    <!-- Qo'shimcha ustunlar uchun ma'lumotlarni shu yerda joylashtiring -->
                </tr>
            </tbody>
        </table>
    </div>

    <!-- JavaScript va Bootstrap 5 kutubxonalari -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

</body>
</html>
